<h2>Votar por el juego del año</h2>
<hr>
<div class="row">
  <div class="col">
    <div class="card-columns">
      <div class="card bg-dark" *ngFor="let juego of juegos">
        <img [src]="juego.url" class="card-img-top" [alt]="juego.nombre">
        <div class="card-body">
          <h5 class="card-title">{{juego.nombre}} </h5>
          <p class="card-text">
            Click aquí para votar por este juego
          </p>
          <button (click)="votar(juego.id)" class="btn btn-block btn-outline-primary">Votar</button>

        </div>
      </div>
    </div>
  </div>
</div>
