<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Goty
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/inicio">Inicio </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/goty">Votar </a>
      </li>
    </ul>
  </div>
</nav>
